body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    width: 50%;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

form > input{
    display: inline-block;
    margin: 1%;
    padding: 0.4%;
}